@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Poppins:wght@300&display=swap');

:root {
  --background-primary: #FFF;
  --background-coffe: #AD9176;
  --background-coffe-beautiful: #FFF4D6;
  --background-coffe-shadow: #C2AA8E;
}

body {
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, var(--background-coffe-beautiful) 0%, #EFE3D3 100%);
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

.main {
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  background-color: var(--background-coffe);
  transform: translateY(-50px);
  animation: slideIn 1s ease-in-out forwards;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  box-shadow: 0 0 2rem 1.2rem var(--background-coffe-shadow);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  -webkit-animation: slideIn 1s ease-in-out forwards;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
}

.container img {
  margin-top: 0.9rem;
}

.container h1 {
  text-shadow: 0.2rem 0.1rem #C2AA8E;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes pulse {
  to {
    transform: scale(1.1);
  }
}

.container-temas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-direction: column;
  text-align: center;
}

.container-options-links {
  border: solid var(--background-coffe);
  padding: 1rem;
  box-shadow: 0 0 2rem var(--background-coffe);
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.container-temas h1 {
  text-align: center;
  text-shadow: 0.2rem 0.1rem #C2AA8E;
}

.container-options-links ul {
  display: block;
  text-align: left;
  list-style: none;
  padding: 0;
}



.container-temas a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.4s ease-in-out;
  -webkit-transition: color 0.4s ease-in-out;
  -moz-transition: color 0.4s ease-in-out;
  -ms-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
}

.container-temas li {
  /* background-color: red; */
  transition: margin 0.5s ease-in-out;
  -webkit-transition: margin 0.5s ease-in-out;
  -moz-transition: margin 0.5s ease-in-out;
  -ms-transition: margin 0.5s ease-in-out;
  -o-transition: margin 0.5s ease-in-out;
  border: 1px solid #D9C3B0;
  border-radius: 8px;
  margin-bottom: 10px;
}

.container-temas li:hover {
  margin-left: 1rem;
}

.container-temas a:hover {
  color: var(--background-coffe);
}
